services:
  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: users_database
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  spring-boot-app:
    image: spring-boot-rest-api
    container_name: spring-boot-app
    restart: always
    ports:
      - "8081:8081"
    depends_on:
      mysql-db:
        condition: service_healthy

volumes:
  mysql_data:
